{% extends 'todo/base.html' %} {% block content %}

<div class="container">
  <div>
    <form action="/add/" method="POST">
      {% csrf_token %} 
      {% comment %} {% csrf_token %} bu post yaparken sifreleme için {% endcomment %}
      
      {{form.as_p}}

      {% comment %} {{form.as_p}} bu ise yanyana getirmek için {% endcomment %}
      <input type="submit" value="ADD" />
    </form>
  </div>


  <ul>
    {% for todo in todos %}
    <li>
        <a href="{ % url 'update' todo.id % }">
            {{todo}}
        </a>
       </li>

    {% endfor %}
  </ul>
</div>

{% endblock content %}
